p {
    margin-bottom: 12;
}
h1, h2, h3{
    font-weight: 400;
}

h1{
    font-size: 36;
    margin-bottom: none;
}

h2{
    font-size: 32;
    border: 1;
    border-color: gray;
    margin-bottom: 8;
}

h2{
    font-size: 32;
    border: 1;
    border-color: gray;
    margin-bottom: 8;
}

.header-title {
    font-size: 18;
    border: none;
    margin-bottom: 10;
}

#header {
    margin-bottom: 32px;
    text-align: center;
}

#footer{
    margin-top: 64;
    text-align: center;
}